<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
	Head
-->

<head th:replace="fragments/header :: head">
</head>

<body>

<!--
	Top Bar Section
-->

<div th:replace="fragments/header :: top-bar" id="top-bar" class="container">
</div>

<div id="wrapper" class="container">

    <!--
    NavBar Main-Menu
    -->

    <div th:replace="fragments/header :: nav-bar" class="navbar main-menu">
    </div>

    <section class="header_text sub">
        <img class="pageBanner" th:src="@{themes/images/pageBanner.png}" alt="New products" >
        <h4><span>Product Detail</span></h4>
    </section>
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">

                    <!--Multiply pictures-->
                    <div class="span4">
                        <a th:href="@{'/product' + ${product.id}}"
                           class="thumbnail" data-fancybox-group="group1"
                           title="Description 1"><img alt="" th:src="@{{pictureServiceUrl}/picture/{id}(id=${product.mainPictureId},pictureServiceUrl=${pictureServiceUrl})}"></a>
                        <ul class="thumbnails small">
                            <li th:each="picId : ${product.pictureIds}" class="span1">
                                <a class="thumbnail" data-fancybox-group="group1"
                                   title="Description 2"><img th:src="@{{pictureServiceUrl}/picture/{id}(id=${picId}, pictureServiceUrl=${pictureServiceUrl})}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="span5">
                        <address>
                            <strong>Brand:</strong> <span>Apple</span><br>
                            <strong>Product Code:</strong> <span>Product 14</span><br>
                            <strong>Reward Points:</strong> <span>0</span><br>
                            <strong>Availability:</strong> <span>Out Of Stock</span><br>
                        </address>
                        <h4><strong>Price: $587.50</strong></h4>
                    </div>
                    <div class="span5">
                        <form class="form-inline">
                            <label class="checkbox">
                                <input type="checkbox" value=""> Option one is this and that
                            </label>
                            <br/>
                            <label class="checkbox">
                                <input type="checkbox" value=""> Be sure to include why it's great
                            </label>
                            <p>&nbsp;</p>
                            <label>Qty:</label>
                            <input type="text" class="span1" placeholder="1">

                            <!--Cart-->
                            <button class="btn btn-inverse" type="submit">Add to cart</button>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Description</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                    <tr class="">
                                        <th>Size</th>
                                        <td>Large, Medium, Small, X-Large</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Colour</th>
                                        <td>Orange, Yellow</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            <span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">

                                    <!--Multiply products-->

                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="themes/images/ladies/6.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                                <a href="#" class="category">Suspendisse aliquet</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--
	        Side - Bar Section
            -->

            <div th:replace="fragments/sidebar :: side-bar" class="span3 col">
            </div>

        </div>
    </section>

    <!--
	Footer-Bar
    -->

    <div th:replace="fragments/footer :: footer-bar" id="footer-bar">
    </div>

    <!--
	Copyright-Bar
    -->

    <div th:replace="fragments/footer :: copyright-bar" id="copyright">
    </div>

</div>

<script th:src="@{themes/js/common.js}"></script>
<script>
    $(function () {
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })
    $(document).ready(function() {
        $('.thumbnail').fancybox({
            openEffect  : 'none',
            closeEffect : 'none'
        });

        $('#myCarousel-2').carousel({
            interval: 2500
        });
    });
</script>
</body>
</html>